extends layout 

block content
	form(id='editForm' onsubmit='updateItem("editForm")')
		label= 'Groups'
		select(name='groups' multiple)
			each group in groups
				option(name=group value=group )= group
		label= 'Item Code'
		input(type='text' name='code' id='code' value=item_data.code)
		label= 'Item Title'
		input(type='text' name='title' id='title' value=item_data.title)
		label= 'Item Description'
		input(type='textbox' name='description' id='description' value=item_data.description)
		input(type='submit')
	a(href='/items')
		button= 'back'